In [24]:
import pandas as pd

In [25]:
df= pd.read_csv("IMDB Dataset.csv")  
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [26]:
df["review"][1].lower()
df["review"].str.lower()

0        one of the other reviewers has mentioned that ...
1        a wonderful little production. <br /><br />the...
2        i thought this was a wonderful way to spend ti...
3        basically there's a family where a little boy ...
4        petter mattei's "love in the time of money" is...
                               ...
49995    i thought this movie did a down right good job...
49996    bad plot, bad dialogue, bad acting, idiotic di...
49997    i am a catholic taught in parochial elementary...
49998    i'm going to have to disagree with the previou...
49999    no one expects the star trek movies to be high...
Name: review, Length: 50000, dtype: object

In [27]:
## remove html tags using regex

import re

In [28]:
df["review"] = df["review"].apply(lambda x: re.sub("<.*?>","",x))
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. The filming tec...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [29]:
def remove_html_tags(text):
    # define regex for html tags
    html_pattern = re.compile("<.*?>")
    # remove html tags from text
    text = html_pattern.sub("",text)
    return text

In [30]:
def url_remove(text):
    url_pattern = re.compile(r'https?://S+|www.\.\S+')
    text = url_pattern.sub("",text)

In [31]:
url_remove("review")

In [32]:
import string ,time
exclude = string.punctuation

In [33]:
def remove_punctuations(text):
    for char in exclude:
        text = text.replace(char,"")
        return text