In [1]:
import pandas as pd

In [3]:
pd.get_dummies(list('abca'))

       a      b      c
0   True  False  False
1  False   True  False
2  False  False   True
3   True  False  False